<h2><%= @category.title %></h2>
<p>
  <%= link_to "Back to All Categories", categories_path %>
</p>

<div class="items-grid">
  <%= render partial: "items/item", collection: @category.items.all %>
</div>
